/* toutes les cartes */
 
.cards{
    display: flex;
    flex-wrap: wrap; 

}
.cards .card{
    margin-right: 20px;
    cursor: pointer;
    
}
.cards .card img{
    width: 350px;
}
.cards .card .cardheader{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards .card .cardbody p{
    margin-top: -10px;
}
/* section principale */
 .main{
    margin: 20px;
    margin-top: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap; 
    
}
/* fin des cartes */